
<h1 class="text-center">LISTE DES COCKTAILS</h1>

<div class="d-flex justify-content-center">
  <div *ngFor="let cocktail of cocktails" class="card m-2 p-2" style="width: 18rem">
    <img style="height: 18rem" src="{{'./../../assets/' + cocktail.image}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ cocktail.name }}</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">{{ cocktail.price }} €</a>
    </div>
  </div>
</div>
